


   <div class="mt-5">
    <!-- <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                      <li class="breadcrumb-item"><a routerLink="/allconnection" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                      <li class="breadcrumb-item active" aria-current="page">Business Hub</li>
                    </ol>
                  </nav>
                <h1 class="mb-0 fw-bold">Business Hub</h1> 
            </div>
            <div class="col-6">
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="col-12 text-right">
                <button mat-raised-button color='primary'  (click)="addNew()" >Add new Business Hub</button>
            </div>
            <div class="example-container mat-elevation-z8 table table-responsive">
                <mat-table #table [dataSource]="dataSource">
              
                  <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
                  <!-- id Column -->
       
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Hub Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.businesshub}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="region">
                    <mat-header-cell *matHeaderCellDef>Region</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.region?.region}} </mat-cell>
                  </ng-container>
              
                  <!--businesstype Column -->
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
                  </ng-container>
              
              
                  <!-- value_contract column -->
                  <ng-container matColumnDef="manager">
                    <mat-header-cell *matHeaderCellDef> Hub Manager </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.hubManager?.first_name}} {{element.hubManager?.last_name}} ({{element.hubManager?.job_title}}) </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tmanager">
                    <mat-header-cell *matHeaderCellDef> Technical Engineer </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.technicalManager?.first_name}} {{element.technicalManager?.last_name}} ({{element.technicalManager?.job_title}}) </mat-cell>
                  </ng-container>
              
                  <!-- company_category Column -->
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Hub Manager Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element?.hubManager?.email}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef> Hub Manager Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element?.hubManager?.tel_no}} </mat-cell>
                  </ng-container>
            
                
            
                  <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"><button mat-raised-button color="secondary" (click)="edit(element)">Edit</button> </mat-cell>
                  </ng-container>
                
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
            </div>

        </div>
        
      
    </div>
  
</div>