
<div class="modalHeader">
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h3>Inspection and Survey Form</h3>
<h5>Summary Report for Point Load Project</h5>
<div mat-dialog-content class="mat-typography">
  <form class="m-4" [formGroup]="pubeval_form" (ngSubmit)="Execute()">
    <div class="container-fluid">
      <col-12>
        <hr>
      </col-12>
      <col-12 class="text-center">
        <h4>Project Details</h4>
      </col-12>
      <col-12>
        <hr>
      </col-12>
    </div>
    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="eval_titlepro">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>User Community</mat-label>
          <input matInput formControlName="eval_usercom">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Project Main Category</mat-label>
          <input matInput formControlName="eval_projmaincat">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>DT Rating</mat-label>
          <input matInput formControlName="eval_dtrating">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
    </div>
 <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Voltage Level</mat-label>
            <input matInput formControlName="eval_voltlevel">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Sub Head</mat-label>
            <input matInput formControlName="eval_subhead">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
      
      <!-- Row 15 -->
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Estimated Load(MW)</mat-label>
            <input matInput formControlName="eval_extload">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Major Challenges on Existing SS</mat-label>
            <input matInput formControlName="eval_majchaexidss">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
      
      <!-- Row 16 -->
      <div class="row">
        <div class="col-6">
          
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Name of Substation</mat-label>
            <mat-select formControlName="eval_nameofsub" required>
                
                <mat-option [value]="'existing substation bf relief'">
                    Existing Substation Before Relief
                </mat-option>
                <mat-option [value]="'existing substation after relieve'">
                  Existing Substation After Relief
                </mat-option>
                
            </mat-select>
            <!-- <mat-error *ngIf="proForm.get('status').hasError('required')">
                Status is required
            </mat-error> -->
        </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Rating(KVA)</mat-label>
            <input matInput formControlName="eval_rating">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row">
      <div class=" col-6">
    
        <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Region</mat-label>
            <input matInput formControlName="eval_region" >
            <mat-icon matSuffix>face</mat-icon>
            
        </mat-form-field>
    </div>
    <div class=" col-6">

        <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Business Hub</mat-label>
            <input matInput formControlName="eval_bhub" >
            <mat-icon matSuffix>face</mat-icon>
            
        </mat-form-field>
    </div>
  </div> -->
      
      <!-- Add more rows as needed -->
      
    <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Loading(KVA)</mat-label>
            <input matInput formControlName="eval_loading">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Load Percentage</mat-label>
            <input matInput formControlName="eval_loadpercent">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 2 -->
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>1 Year Load Percentage</mat-label>
            <input matInput formControlName="eval_1yrloadpercentload">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Quarterly Load Reading</mat-label>
            <input matInput formControlName="eval_quarterlyload">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 3 -->
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Amount Bill(kwh)</mat-label>
            <input matInput formControlName="eval_amtbillkwh">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Amount Bill(#)</mat-label>
            <input matInput formControlName="eval_amtbillnaira">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 4 -->
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Collection</mat-label>
            <input matInput formControlName="eval_collection">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Collection Efficiency(%)</mat-label>
            <input matInput formControlName="eval_collectioneff">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 5 -->
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Customer Population</mat-label>
            <input matInput formControlName="eval_custpop">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
      
          
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Name of Substation (New extension)</mat-label>
          <input matInput formControlName="eval_nameofextss">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
        </div>
      </div>

    <!-- end -->
    <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Extension Rating(KVA)</mat-label>
            <input matInput formControlName="eval_extrating">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Ext. Proposed Loading(KVA)</mat-label>
            <input matInput formControlName="eval_proposedloading">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 7 -->
      <div class="row">
        
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Ext. Load percentage(%)</mat-label>
            <input matInput formControlName="eval_extloadpercent">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Ext. 3month Load Projection</mat-label>
            <input matInput formControlName="eval_3monthloadproj">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 8 -->
      <div class="row">
       
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Ext. Projected Billing</mat-label>
            <input matInput formControlName="eval_extprojbilling">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Ext. Projected Billing(kwh)</mat-label>
            <input matInput formControlName="eval_projbillingkwh">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 9 -->
      <div class="row">
        
        <div class="col-6">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Ext. Projected Collection(#)</mat-label>
        <input matInput formControlName="eval_projcollection">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Ext. Projected Collection Efficiency</mat-label>
        <input matInput formControlName="eval_projcollectioneff">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
    </div>
  </div>
    <!-- end2 -->
 <!-- Row 10 -->
 <div class="row">
        
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Ext. Customer Population</mat-label>
            <input matInput formControlName="eval_extcustpop">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Feeder Name</mat-label>
            <input matInput formControlName="eval_fdrname">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 11 -->
      <div class="row">
       
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Feeder Capacity(MW)</mat-label>
            <input matInput formControlName="eval_fdrcapacity">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Feeder Trend Peak Load(A)</mat-label>
            <input matInput formControlName="eval_fdrtrendpeak">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 12 -->
      <div class="row">
        
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Feeder Suppressed Load(A)</mat-label>
            <input matInput formControlName="eval_fdrsupload">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Cumulative Load(A)</mat-label>
            <input matInput formControlName="eval_cumload">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
    
      <!-- Row 13 -->
      
        
    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Source to Feeder</mat-label>
          <input matInput formControlName="eval_srcfeeder">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Project/Asset Value</mat-label>
          <input matInput formControlName="eval_projcost">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Donor</mat-label>
          <input matInput formControlName="eval_donor">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Number of Customers</mat-label>
          <input matInput formControlName="nocustomers">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <!-- (Repeat similar structure for other form fields) -->

    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Expected Billing</mat-label>
          <input matInput formControlName="expected_billcom">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Expected Gain(#)</mat-label>
          <input matInput formControlName="expected_gaincom">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Recommeded Meter Type</mat-label>
          <input matInput formControlName="eval_recmetertyp">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Statistical Metering</mat-label>
          <input matInput formControlName="eval_statmeter">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
     
    </div>

    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Project Details Title</mat-label>
          <input matInput formControlName="title">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Preamble</mat-label>
          <input matInput formControlName="preamble">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      
    </div>

    <div class="row">
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Findings</mat-label>
          <input matInput formControlName="findings">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div class=" col-6">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Scope of Work</mat-label>
          <input matInput formControlName="scopeofwork">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Recommendation</mat-label>
            <input matInput formControlName="recommendation">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Customer Request Letter</mat-label>
            <ngx-mat-file-input formControlName="eval_custreq">
               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
            </ngx-mat-file-input>
         </mat-form-field>
         <a [href]="evalconnection?.eval_custreq" target="_blank">View Customer Request Letter</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
        
          <mat-form-field>
            <mat-label>Block Diagram</mat-label>
            <ngx-mat-file-input formControlName="eval_blockdiag">
               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
            </ngx-mat-file-input>
         </mat-form-field>
         <a [href]="evalconnection?.eval_blockdiag" target="_blank">View Block Diagram</a>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Schematic Diagram</mat-label>
            <ngx-mat-file-input formControlName="eval_schdiag">
               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
            </ngx-mat-file-input>
         </mat-form-field>
         <a [href]="evalconnection?.eval_schdiag" target="_blank">View Schematic Diagram</a>
          
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Site Visit Form</mat-label>
            <ngx-mat-file-input formControlName="eval_sitevform">
               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
            </ngx-mat-file-input>
         </mat-form-field>
         <a [href]="evalconnection?.eval_sitevform" target="_blank">View site visit form</a>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Project Planned By</mat-label>
            <input matInput formControlName="eval_projplanby">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
        </div>
      </div>
      
      
      <!-- start button -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
                <button mat-raised-button color="primary" type="submit"
                    [mat-dialog-close]="1">Submit Evaluation</button>
            </div>
        </div>
    
      <!-- end button -->
    </div>
    
  </form>
</div>

