
  .table-container {
    overflow-x: auto;
    width: 100%; /* Set an appropriate width */
  }
  .example-container {
    overflow: auto;
  }
  
  .table-wrapper {
    display: inline-block;
    min-width: 100%;
  }
  /* .example-viewport {
    height: 300px; 
    width: 100%;
  } */
  /* Add space between header and data cells */
/* .wide-header {
  padding-right: 20px;
} */

/* .wide-cell {
  padding-left: 20px;
} */

/* Ensure content is not cut off */
/* .cell-content {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 

} */