


  <div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                      <li class="breadcrumb-item"><a routerLink="/allconnection" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                      <li class="breadcrumb-item active" aria-current="page">All Contractors</li>
                    </ol>
                  </nav>
                <h1 class="mb-0 fw-bold">All Contractors</h1> 
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
    <div class="container-fluid">

      <mat-tab-group>
        <mat-tab label="All Contractors"> 
          <div class="container">

         
        <div class="row">
          <div class="col-lg-12">
            <!-- <div class="col-12 text-right">
              <button mat-raised-button color='primary'  (click)="addNew()" >Add new Contractor</button>
          </div> -->
          <div class="example-container mat-elevation-z8 table table-responsive">
              <mat-table #table [dataSource]="dataSource">
            
                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
                <!-- id Column -->
     
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Contractor Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.contractor_name}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="region">
                  <mat-header-cell *matHeaderCellDef>Region</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.region.name}} </mat-cell>
                </ng-container> -->
            
                <!--businesstype Column -->
                <!-- <ng-container matColumnDef="hub">
                  <mat-header-cell *matHeaderCellDef> Business Hub </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element?.region.name}}  </mat-cell>
                </ng-container> -->
            
            
                <!-- value_contract column -->
                <ng-container matColumnDef="address">
                  <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.con_address}} </mat-cell>
                </ng-container>
            
                <!-- company_category Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.email}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                  <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.tel_no}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="license">
                  <mat-header-cell *matHeaderCellDef> License Number </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.licensed_no}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nemsa">
                  <mat-header-cell *matHeaderCellDef> NEMSA/COREN Certificate </mat-header-cell>
                  <mat-cell *matCellDef="let element">  <a [href]="element?.coren_or_nemsa_competency" target="_blank">View</a> </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                    <span *ngIf="element.registration_status">{{element.registration_status}} </span>
                    
                    <span *ngIf="!element.registration_status">Unsubmitted </span>
                  </mat-cell>
                </ng-container>
          
              
                <ng-container matColumnDef="trail">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     
                  
                      <button mat-raised-button color="secondary" (click)="trail(element)">Approval Trail</button> 
                  
                  </mat-cell>
                </ng-container>
               
            

                <mat-header-row *matHeaderRowDef="displayedColumnsList"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsList;"></mat-row>
              </mat-table>
              <mat-paginator #paginator
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>

      </div>
    </div>
        </mat-tab>
        <mat-tab label="My Approvals">
          <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- <div class="col-12 text-right">
              <button mat-raised-button color='primary'  (click)="addNew()" >Add new Contractor</button>
          </div> -->
          <div class="example-container mat-elevation-z8 table table-responsive">
              <mat-table #table [dataSource]="dataSourceApproval">
            
                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
                <!-- id Column -->
     
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Contractor Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.contractor_name}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="region">
                  <mat-header-cell *matHeaderCellDef>Region</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.region.name}} </mat-cell>
                </ng-container> -->
            
                <!--businesstype Column -->
                <!-- <ng-container matColumnDef="hub">
                  <mat-header-cell *matHeaderCellDef> Business Hub </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element?.region.name}}  </mat-cell>
                </ng-container> -->
            
            
                <!-- value_contract column -->
                <ng-container matColumnDef="address">
                  <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.con_address}} </mat-cell>
                </ng-container>
            
                <!-- company_category Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.email}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                  <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.tel_no}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="license">
                  <mat-header-cell *matHeaderCellDef> License Number </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.licensed_no}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nemsa">
                  <mat-header-cell *matHeaderCellDef> NEMSA/COREN Certificate </mat-header-cell>
                  <mat-cell *matCellDef="let element">  <a [href]="element?.coren_or_nemsa_competency" target="_blank">View</a> </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                    <span *ngIf="element.registration_status">{{element.registration_status}} </span>
                    
                    <span *ngIf="!element.registration_status">Unsubmitted </span>
                  </mat-cell>
                </ng-container>
          
              
          
                <ng-container matColumnDef="approve">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     
                  
                      <button mat-raised-button color="secondary" (click)="action('Approve', element.id)">Approve</button> 
                  
                  </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="decline">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     
                   
                      <button mat-raised-button color="warn" (click)="action('Decline', element.id)">Decline</button>
                    
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>

      </div>
    </div>
        </mat-tab>
      </mat-tab-group>





        
      
    </div>
  
</div>