

<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">



<div class="modalHeader">

    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</div>


<div class="text-center" *ngIf="corenexpired && is_contractor">
    <h2><strong>
        You cannot create an application for new connection because your Coren certificate has expired. Kindly update your profile with the most recent Coren certificate
      
    </strong>
    </h2>
</div>

<div class="text-center" *ngIf="(!status || in_approval) && is_contractor">
    <h2><strong>
        You cannot create an application for new connection because your registration as a contractor is not yet approved. Kindly update your profile and submit
        for approval
    </strong>
    </h2>
</div>

<div mat-dialog-content class="mat-typography" *ngIf="(status && !in_approval && !corenexpired) || !is_contractor">

    <form class="m-4" [formGroup]="portform" (ngSubmit)="submitConnections()">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-12">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Name of Contractor</mat-label>
                        <input matInput formControlName="contractor_name" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
             
               
            </div>
            <div class="row">
               
                <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" >
                        <mat-icon matSuffix>transformer</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="tel_no">
                        <mat-icon matSuffix>face</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('required')">
                            Name is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
               
               
            </div>
            <div class="row">
                <div class=" col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="con_address" >
                        <mat-icon matSuffix>transformer</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Coren Licensed No</mat-label>
                        <input matInput formControlName="licensed_no" >
                        <mat-icon matSuffix>transformer</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    </mat-form-field>
                </div>
    
                 </div>
                 <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Select Region</mat-label>
                            <mat-select formControlName="region" required (selectionChange)="getHub($event)">
                                <mat-option *ngFor="let section of regions" [value]="section.id"> {{section.region}} </mat-option>
                           
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Select Business Hub</mat-label>
                            <mat-select formControlName="businesshub" required>
                                <mat-option *ngFor="let section of hub" [value]="section.id"> {{section.businesshub}} </mat-option>
                          
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
      
     
            <div class="row">
                <div class=" col-12">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Name of Sponsor</mat-label>
                        <input matInput formControlName="name_sponsor" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
             
               
            </div>
    
     
            <div class="row">
               
                <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Community Name</mat-label>
                        <input matInput formControlName="community_name" >
                        <mat-icon matSuffix>transformer</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Project Title</mat-label>
                        <input matInput formControlName="title">
                        <mat-icon matSuffix>face</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('required')">
                            Name is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
               
               
            </div>
           
            
            <div class="row">
                <div class=" col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Chairman of Community Name</mat-label>
                        <input matInput formControlName="chairman_comm_name" >
                        <mat-icon matSuffix>transformer</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Chairman of Community Number</mat-label>
                        <input matInput formControlName="chairman_comm_number" >
                        <mat-icon matSuffix>transformer</mat-icon>
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    </mat-form-field>
                </div>
    
                 </div>
                 
                 
                 <hr class="my-4">
                 
                 
                 <div class="row">
                    <div class=" col-6">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>DT Capacity</mat-label>
                            <input matInput formControlName="dt_capacity" >
                            <mat-icon matSuffix>transformer</mat-icon>
                            <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                                Name is 
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Voltage Level</mat-label>
                            <input matInput formControlName="voltage_level" >
                            <mat-icon matSuffix>transformer</mat-icon>
                            <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                                Name is 
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    
                     </div>
                    
            <!-- <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Select Region</mat-label>
                        <mat-select formControlName="region" required (selectionChange)="getHub($event)">
                            <mat-option *ngFor="let section of regions" [value]="section.id"> {{section.region}} </mat-option>
                       
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Select Business Hub</mat-label>
                        <mat-select formControlName="businesshub" required>
                            <mat-option *ngFor="let section of hub" [value]="section.id"> {{section.businesshub}} </mat-option>
                      
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
            
            
         
                <!-- <div class=" col-6"> -->
                    <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Date of Site Visit</mat-label>
                        <input matInput formControlName="date_of_visit" >
                        <mat-icon matSuffix>transformer</mat-icon> -->
                        <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                            Name is 
                        </mat-error> -->
                    <!-- </mat-form-field> -->

                    <!-- <mat-form-field>
                        <mat-label>Date of Site Visit</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date_of_visit">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      
                </div> -->
                <!-- <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>No of Customers</mat-label>
                        <input matInput formControlName="no_of_customers" >
                        <mat-icon matSuffix>transformer</mat-icon>
                     
                    </mat-form-field>
                </div> -->
                <div class="row">
                 
                 
                 
                    <div class=" col-6">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Estimated Load</mat-label>
                            <input matInput formControlName="estimated_load" >
                            <mat-icon matSuffix>transformer</mat-icon>
                            <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                                Name is 
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                   
               
                    <div class="col-6">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Cost Of Project</mat-label>
                            <input matInput formControlName="estimated_cost" >
                            <mat-icon matSuffix>transformer</mat-icon>
                            <!-- <mat-error *ngIf="portform.get('name').hasError('')">
                                Name is 
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    </div>
                    
                             
        <div class="row">
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>No of Spans</mat-label>
                    <input matInput formControlName="no_of_spans" required>
                    <mat-icon matSuffix>face</mat-icon>
                    <!-- <mat-error *ngIf="portform.get('name').hasError('required')">
                        Name is required
                    </mat-error> -->
                </mat-form-field>
            </div>
            
        
            <div class=" col-6">
                
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="relieftype" required>
                        
                        <mat-option [value]="'relief'">
                            Relief
                        </mat-option>
                        <mat-option [value]="'operating'">
                            Up Rating
                        </mat-option>
                        <mat-option [value]="'replacement'">
                            Replacement
                        </mat-option>
                        <mat-option [value]="'new extension'">
                            New Extension
                        </mat-option>
                        <mat-option [value]="'realignment'">
                            Realignment
                        </mat-option>
                        <mat-option [value]="'relocation'">
                            Relocation
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="proForm.get('status').hasError('required')">
                        Status is required
                    </mat-error> -->
                </mat-form-field>
            </div>
            </div>
            
           
        
        <!-- <div class="row"> -->
            <!-- <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Feeder Name</mat-label>
                    <input matInput formControlName="feeder_name" required>
                    <mat-icon matSuffix>face</mat-icon>
                   
                </mat-form-field>
            </div> -->
            
            <!-- <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Feeder Capacity(MW)</mat-label>
                    <input matInput formControlName="feeder_capacity" required>
                    <mat-icon matSuffix>face</mat-icon>
                    
                </mat-form-field>
            </div>
            
           
        </div> -->
        <!-- <div class="row">
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Feeder Peak Load</mat-label>
                    <input matInput formControlName="fdr_peakload" required>
                    <mat-icon matSuffix>face</mat-icon>
                    
                </mat-form-field>
            </div>
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Load Till Date(MW)</mat-label>
                    <input matInput formControlName="load_tilldate" required>
                    <mat-icon matSuffix>face</mat-icon>
                    
                </mat-form-field>
            </div>
            
           
        </div> -->
        <!-- <div class="row">
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Source to Feeder</mat-label>
                    <input matInput formControlName="source_fdr" required>
                    <mat-icon matSuffix>face</mat-icon>
                   
                </mat-form-field>
            </div>
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Power Transformer</mat-label>
                    <input matInput formControlName="powertrans" required>
                    <mat-icon matSuffix>face</mat-icon>
                  
                </mat-form-field>
            </div>
            
           
        </div> -->
        <!-- <div class="row">
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Transformer Rating</mat-label>
                    <input matInput formControlName="trans_rating" required>
                    <mat-icon matSuffix>face</mat-icon>
                  
                </mat-form-field>
            </div>
            <div class=" col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Expected Billing</mat-label>
                    <input matInput formControlName="expected_billing" required>
                    <mat-icon matSuffix>face</mat-icon>
                    
                </mat-form-field>
            </div>
            
           
        </div> -->
      
  
            <!-- <div class="row"> -->
           
            <!-- <div class="col-6">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Expected Gain</mat-label>
                    <input matInput formControlName="expected_gain" required>
                    <mat-icon matSuffix>transformer</mat-icon>
                
                </mat-form-field>
            </div>
            </div> -->
           
              
            <!-- <div class="row"> -->
            
            <!-- <div class="col-6">
            <mat-form-field>
                <mat-label>Letter of Donation DSS</mat-label>
                <ngx-mat-file-input formControlName="letter_of_donation_dss" >
                    <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                </ngx-mat-file-input>
                </mat-form-field>
                <a *ngIf="connection?.letter_of_donation_dss" [href]="connection?.letter_of_donation_dss" target="_blank">letter_of_donation_dss</a>
            </div> -->
        <div class="row">
            <div class="col-6">
            <mat-form-field>
                <mat-label>Nemsa Competency Certificate</mat-label>
                <ngx-mat-file-input formControlName="nemsa_comp_cert" >
                   <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                </ngx-mat-file-input>
             </mat-form-field>
             <div style="margin-top: 10px; color: red; font-weight: bold;">
                Uploading of expired certificate will render this application invalid.
              </div>
            
             <a *ngIf="connection?.nemsa_test_cert" [href]="connection?.nemsa_comp_cert" target="_blank">Nemsa competency Certificate</a>
             </div>
             
             
            
             <div class="col-6">
             <mat-form-field>
                <mat-label>Coren Certificate</mat-label>
                <ngx-mat-file-input formControlName="coren_cert">
                   <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                </ngx-mat-file-input>
             </mat-form-field>
             <a *ngIf="connection?.coren_cert" [href]="connection?.coren_cert" target="_blank">coren_cert</a>
             </div>
             </div>
            
             
             <div class="col-6">
             <mat-form-field>
                <mat-label>Introductory Letter from Client</mat-label>
                <ngx-mat-file-input formControlName="intro_letter_client">
                   <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                </ngx-mat-file-input>
             </mat-form-field>
             <a *ngIf="connection?.intro_letter_client" [href]="connection?.intro_letter_client" target="_blank">Introductory letter from client</a>
             </div>
             </div>
             
            
             <!-- <mat-form-field>
                <mat-label>Upload Transformer Test Certificate</mat-label>
                <ngx-mat-file-input formControlName = "transformer_test_cert">
                   <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                </ngx-mat-file-input>
             </mat-form-field>
             <a [href]="connection?.transformer_test_cert" target="_blank">View Transformer Test Cert</a> -->
            
        
        <div class="row" *ngIf="action=='edit' || action == 'add'">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" type="submit"
                       (click)="confirmAdd()" [mat-dialog-close]="1">Submit for Approval</button>
                        <!-- &nbsp; &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="dialogRef.close()" tabindex="-1">Cancel</button> -->
                </div>
            </div>
        </div>

        <div class="row" *ngIf="action=='approve'">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" type="submit"
                       (click)="approve()" [mat-dialog-close]="1">Approve</button>
                        &nbsp; &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="decline()">Decline</button>
                </div>
            </div>
        </div>
    
    </form>

<hr class="mt-5">
<div class="col-12 text-center">
    <h3><strong>Approval Trail</strong></h3>
</div>
       
        <hr>
        <p style="line-height: 2.5;" *ngIf="connection?.declined">
            Connection application was declined for the following reason:<br>
            {{connection?.declined_comment}}
        </p>

        <p style="line-height: 2.5;" *ngIf="!connection?.declined">
        <span *ngIf="connection?.tm_is_connection_approved">
            <strong>TM Approval:</strong> {{connection?.tm_is_connection_approved_by}} approved connection on 
            {{connection?.tm_is_connection_approved_date
            }} 
            <a *ngIf="connection?.tm_memo" [href]="connection?.tm_memo" target="_blank"><button mat-raised-button>view Additional File</button></a><br>
        </span>
        <span *ngIf="connection?.te_is_connection_approved">
            <strong>TE Evaluation:</strong> {{connection?.te_is_connection_approved_by}} Submitted Evaluation Form on
             {{connection?.te_is_connection_approved_date}} <br>
        </span>
        <span *ngIf="connection?.npd_is_connection_approved">
            <strong>NP & D Approval:</strong> {{connection?.npd_is_connection_approved_by}} approved connection
             on {{connection?.npd_is_connection_approved_date}} 
             <a *ngIf="connection?.npd_memo" [href]="connection?.npd_memo" target="_blank"><button mat-raised-button>view Additional File</button></a><br>
        </span>
        <span *ngIf="connection?.cto_is_connection_approved">
            <strong>CTO Approval:</strong> {{connection?.cto_approved_by}}  approved connection 
            on {{connection?.cto_is_connection_approved_date}} 
            <a *ngIf="connection?.cto_memo" [href]="connection?.cto_memo" target="_blank"><button mat-raised-button>view Additional File</button></a><br>
        </span>
        <span *ngIf="connection?.hse_is_connection_approved">
            <strong>HSE Approval:</strong> {{connection?.hse_approved_by}}  approved connection 
            on {{connection?.hse_is_connection_approved_date}} 
            <a *ngIf="connection?.hse_memo" [href]="connection?.hse_memo" target="_blank"><button mat-raised-button>view Additional File</button></a><br>
        </span>
        <span *ngIf="connection?.ct_is_pre_requested">
            <strong>Contractor Precommissioning Request Approval:</strong> Contractor 
            requested precommissioning test on {{connection?.ct_is_pre_requested_date}} <br>
        </span>
        <span *ngIf="connection?.tept_is_connection_approved">
            <strong>TE Precomissioing Test:</strong>  {{connection?.tept_is_connection_approved_by}} Submitted 
            Precommissioing Test Form on  {{connection?.tept_is_connection_approved_date}} <br>
        </span>
        <span *ngIf="connection?.hbo_is_connection_approved">
            <strong>HBO Approval:</strong>  {{connection?.hbo_is_connection_approved_by}} approved
             connection on  {{connection?.hbo_is_connection_approved_date}} <br>
             <a *ngIf="connection?.hbo_memo" [href]="connection?.hbo_memo" target="_blank"><button mat-raised-button>view Additional File</button></a><br>
        </span>
        <span *ngIf="connection?.hm_is_connection_approved">
            <strong>HM Approval:</strong> {{connection?.hm_approved_by}} approved 
            connection on  {{connection?.hm_is_contractor_approved_date}} 
            <a *ngIf="connection?.hm_memo" [href]="connection?.hm_memo" target="_blank"><button mat-raised-button>view Additional File</button></a><br>
        </span>
    
        </p>

