

<h3>Precomissioning Test</h3>

<div mat-dialog-content class="mat-typography">

    <form class="m-4" [formGroup]="precom_form" (ngSubmit)="Execute()">
        <div class="container-fluid">
            
            <div class="row">

               

                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Project Title</mat-label>
                        <input matInput formControlName="precom_project_title" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Last Inspection Date</mat-label>
                        <input matInput formControlName="precom_last_inspection_date" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Project Objectives</mat-label>
                        <textarea matInput formControlName="precom_project_objectives" ></textarea>
                       
                        
                    </mat-form-field>
                </div>
            

                </div>






 
        </div>
       


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" type="submit"
                       (click)="Execute()" [mat-dialog-close]="1">Submit Precomissioning Test</button>
                </div>
            </div>
        </div>
        
</form>
</div>