<div class="modalHeader">

    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="mat-typography">


<div class="col-12">
    <h3><strong>Approval Trail</strong></h3>
</div>
       
        <hr>
        <p style="line-height: 2.5;" *ngIf="connection?.declined">
            Connection application was declined for the following reason:<br>
            {{connection?.declined_comment}}
        </p>

        <p style="line-height: 2.5;" *ngIf="!connection?.declined">
        <span *ngIf="connection?.hsch_is_contractor_approved">
            <strong>HSCH Approval:</strong> {{connection?.hsch_approved_by}} approved contractor registration on 
            {{connection?.hsch_is_contractor_approved_date}} 
            <a [href]="connection?.hsch_memo" target="_blank"><button mat-raised-button>view memo</button></a><br>
        </span>
        <span *ngIf="connection?.cto_is_contractor_approved">
            <strong>CTO Approval:</strong> {{connection?.cto_approved_by}} approved contractor registration on 
             {{connection?.cto_is_contractor_approved_date}} 
             <a [href]="connection?.cto_memo" target="_blank"><button mat-raised-button>view memo</button></a><br>
        </span>
        <span *ngIf="connection?.md_is_contractor_approved">
            <strong>MD Approval:</strong> {{connection?.md_approved_by}} approved contractor registration
             on {{connection?.md_is_contractor_approved_date}} 
             <a [href]="connection?.md_memo" target="_blank"><button mat-raised-button>view memo</button></a><br>
        </span>
      
        </p>
</div>