<div class="modalHeader">

    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</div>

<h3>Inspection and Survey Form</h3>
<h5>Summary Report for Point Load Project</h5>

<div mat-dialog-content class="mat-typography">

    <form class="m-4" [formGroup]="eval_form" (ngSubmit)="Execute()">
        <div class="container-fluid">
            
            <!-- <div class="row"> -->

                <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>Project Details</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class="row">
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="eval_title" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Applicant</mat-label>
                        <input matInput formControlName="eval_applicant" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                </div>
                <div class="row">
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>DT</mat-label>
                        <input matInput formControlName="eval_dt" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>voltage Level</mat-label>
                        <mat-select formControlName="eval_voltage_level" required>
                         
                            <mat-option [value]="'elevenkv'">
                                11KV
                            </mat-option>
                            <mat-option [value]="'thirtythreekv'">
                                33KV
                            </mat-option>   
                            <mat-option [value]="'fourhundred'">
                                0.400KV
                            </mat-option>  
                        </mat-select>
                        <!-- <mat-error *ngIf="proForm.get('status').hasError('required')">
                            Status is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Voltage Level</mat-label>
                        <input matInput formControlName="eval_voltage_level" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                </div>




                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>Finding From the Site Visit</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Estimated Load(A)</mat-label>
                        <input matInput formControlName="eval_estimated_load" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Date of site Visit</mat-label>
                        <input matInput formControlName="eval_site_visit_date" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>For Upgrade, Specify New Load</mat-label>
                        <input matInput formControlName="eval_new4upgrade" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Construction Work Done</mat-label>
                        <input matInput formControlName="eval_conworkdone" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>DT Substation Name</mat-label>
                        <input matInput formControlName="eval_dtsubname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Region</mat-label>
                        <input matInput formControlName="eval_region" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Business Hub</mat-label>
                        <input matInput formControlName="eval_bhub" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Comment on Costruction Done</mat-label>
                        <input matInput formControlName="eval_comentoncon" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                </div>




                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>RECOMMENDED FEEDER/ASSETS FOR CONNECTION</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                


                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder Name</mat-label>
                        <input matInput formControlName="eval_fdrname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder peak Load(MW)</mat-label>
                        <input matInput formControlName="eval_fdrpload" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder Capacity(MW)</mat-label>
                        <input matInput formControlName="eval_fdrcapacity" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Load Till Date</mat-label>
                        <input matInput formControlName="eval_tilldate" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Cummulative Load(A)</mat-label>
                        <input matInput formControlName="eval_cumloada" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
               
                </div>



                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>DETAIL OF SOURCE SUBSTATION(INJECTION/SS)</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Source To the Feeder</mat-label>
                        <input matInput formControlName="eval_srcfeeder" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Power Transformer</mat-label>
                        <input matInput formControlName="eval_ptrsf" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Transformer Rating(MVA)</mat-label>
                        <input matInput formControlName="eval_trsfrating" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Trend Peak(MW)</mat-label>
                        <input matInput formControlName="eval_trendpeak" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Cummulative Till Date(MW)</mat-label>
                        <input matInput formControlName="eval_cumtilldate" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <!-- <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Cummulative with this Load(MW)</mat-label>
                        <input matInput formControlName="eval_dtsubname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Permissible Load(MW)</mat-label>
                        <input matInput formControlName="eval_permload" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Margin Available(MW)</mat-label>
                        <input matInput formControlName="eval_maravail" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                
               
                </div>
                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>APPROVAL</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>To be fully Sponsored</mat-label>
                        <input matInput formControlName="eval_fulspons" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Estimated Project Cost(#)</mat-label>
                        <input matInput formControlName="eval_estpcost" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Specific Comment</mat-label>
                        <input matInput formControlName="eval_specoment" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                
                
                
                
               
                </div>
                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>DETAIL PROJECT REPORT(NPG NO)</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="eval_estimated_load" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Preamble</mat-label>
                        <input matInput formControlName="eval_preamble" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Findings</mat-label>
                        <input matInput formControlName="eval_findings" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>

                
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Scope of Work</mat-label>
                        <input matInput formControlName="eval_scopework" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Recommendation</mat-label>
                        <input matInput formControlName="eval_recom" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                 <div class=" col-6">
    
                        <mat-form-field>
                            <mat-label>PC&M(Transformer Test)</mat-label>
                            <ngx-mat-file-input formControlName="eval_pcm">
                               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                            </ngx-mat-file-input>
                         </mat-form-field>
                   </div> 
                   <div class=" col-6">
    
                    <mat-form-field>
                        <mat-label>Other Relevant Documents</mat-label>
                        <ngx-mat-file-input formControlName="eval_otherdoc">
                           <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                        </ngx-mat-file-input>
                     </mat-form-field>
               </div> 


                <div class="row">
                    <!-- <col-12>
                    <hr>
                </col-12> -->
                <!-- <col-12 class="text-center">
                    <h4>SUMMARY REPORT FOR RELIEF DSS</h4>
                    
                </col-12> -->
                <!-- <col-12>
                <hr>
                </col-12> -->
                <!-- <h3>Project Details</h3>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="eval_titlepro" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>User Community</mat-label>
                        <input matInput formControlName="eval_usercom" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Project Main Category</mat-label>
                        <input matInput formControlName="eval_projmaincat" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>DT Rating(KVA)</mat-label>
                        <input matInput formControlName="eval_dtrating" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <!-- <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Voltage Level</mat-label>
                        <input matInput formControlName="eval_voltlevel" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Sub head</mat-label>
                        <input matInput formControlName="eval_subhead" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <!-- <h3>Findings from site visit</h3> -->
                <!-- <div class=" col-6">
                    
                    <div class=" col-6">
    
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Date of Site Visit</mat-label>
                            <input matInput formControlName="eval_datevisit" >
                            <mat-icon matSuffix>face</mat-icon>
                            
                        </mat-form-field>
                       </div>
                       
                       
                    
                </div> -->
                <!-- <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Specific Location</mat-label>
                        <input matInput formControlName="eval_specloc" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Major challenge on existing SS</mat-label>
                        <input matInput formControlName="eval_majchaexidss" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <!-- <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Region</mat-label>
                        <input matInput formControlName="eval_dtsubname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <!-- <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Business Hub</mat-label>
                        <input matInput formControlName="eval_dtsubname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
               
                <!-- <div class=" col-6">
                    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Name of Substation</mat-label>
                        <input matInput formControlName="eval_nameofsub" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Rating</mat-label>
                        <input matInput formControlName="eval_rating" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Loading(KVA)</mat-label>
                        <input matInput formControlName="eval_loading" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>% Loading</mat-label>
                        <input matInput formControlName="eval_loadpercent" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>2Years Load Projection</mat-label>
                        <input matInput formControlName="eval_2yrsloadproj" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>2Years %Loading</mat-label>
                        <input matInput formControlName="eval_2yrsloadprojpercent" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Amount Billed(Kwh)</mat-label>
                        <input matInput formControlName="eval_amtbillkwh">
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Amount Billed</mat-label>
                        <input matInput formControlName="eval_amtbillnaira" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Collection</mat-label>
                        <input matInput formControlName="eval_collection" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Collection Efficiency</mat-label>
                        <input matInput formControlName="eval_collectioneff" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                  
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder Name</mat-label>
                        <input matInput formControlName="eval_fdrname2" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Dss Feeder Availability(hrs)</mat-label>
                        <input matInput formControlName="eval_fdravail" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->

                   
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Dss Feeder Capacity</mat-label>
                        <input matInput formControlName="eval_fdrcapacity2" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Dss Feeder Trend peak</mat-label>
                        <input matInput formControlName="eval_fdrtrendpeak" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder Load till date(A)</mat-label>
                        <input matInput formControlName="eval_fdrdate" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Dss Cum. load</mat-label>
                        <input matInput formControlName="eval_cumload2" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Source to the Feeder</mat-label>
                        <input matInput formControlName="eval_srcfeeder2" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Project Cost/Asset value</mat-label>
                        <input matInput formControlName="eval_projcost" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Sanctioned Cost</mat-label>
                        <input matInput formControlName="eval_sanctioncost" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Capital Contribution to the Project</mat-label>
                        <input matInput formControlName="eval_capcontribproj" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                  
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Specific Location</mat-label>
                        <input matInput formControlName="eval_donor" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Ibedc</mat-label>
                        <input matInput formControlName="eval_ibedc" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Approval may be granted</mat-label>
                        <input matInput formControlName="eval_aprovmbgrant" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Recommeded meter type</mat-label>
                        <input matInput formControlName="eval_recmetertyp" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Statistical Metering</mat-label>
                        <input matInput formControlName="eval_statmeter" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>
                   <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Specific dss Comment</mat-label>
                        <input matInput formControlName="eval_specoment2" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Customer Request</mat-label>
                        <input matInput formControlName="eval_custreq" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div> -->
                   
                 
                 
                   <!-- <div class=" col-6">
    
                    <mat-form-field>
                        <mat-label>Upload Connection Diagram</mat-label>
                        <ngx-mat-file-input formControlName="eval_condiag">
                           <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                        </ngx-mat-file-input>
                     </mat-form-field>
                   </div>  -->
                   
                    <!-- <div class=" col-6">
    
                        <mat-form-field>
                            <mat-label>Upload Schematic Diagram</mat-label>
                            <ngx-mat-file-input formControlName="eval_schdiag">
                               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                            </ngx-mat-file-input>
                         </mat-form-field>
                   </div>  -->
                   
                    <!-- <div class=" col-6"> -->
    
                        <!-- <mat-form-field>
                            <mat-label>Upload Site Visit form</mat-label>
                            <ngx-mat-file-input formControlName="eval_sitevform">
                               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                            </ngx-mat-file-input>
                        </mat-form-field> -->
                      
                         <!-- <a [href]="connection?.eval_sitevform" target="_blank">View siteform</a> -->
                   <!-- </div> -->
                   <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Project planned by</mat-label>
                        <input matInput formControlName="eval_projplanby" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                   </div>  -->

             
               
               
               
                
                
                
                
                
               
                </div>
                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                
                
                
               
               
                
                
               
                
                
               
                </div>

               
               
               
                </div>



                
                <div class="row">

                    
    
                    
                    <div class=" col-6">
    
                   
                    <div class="row">
                    
                   
                <!-- </div> -->
                </div>
                <!-- <div class="row"> -->

               

                    
                    
                    <div class=" col-6">
    
                  
                    
    
                    
                  
                   
                 
                   

                <!-- </div> -->



                        



                <div class="row">

               

                    
    
                    
                    <div class=" col-6">
    
                    
                   

                        

                </div>

                <div class="row">

               

                    
                   
    
                    
                    <div class=" col-6">
    
                    
                   
                    
                  

                  
                  
                </div>
                <div class="row">

               

                   
                    
                    
                    
                   

                    <div class=" col-6">
    
                   
                    
    
                   
                   
                   
                   
                  
                   
                   
                
                  
   
                
                   

                </div>


                </div>

              
             
               
            <!-- </div> -->
    
    







 
        </div>
       



    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit"
                [mat-dialog-close]="1">Submit Evaluation</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>