<div class="modalHeader">

    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</div>

<h3>Inspection and Survey Form</h3>
<h5>Summary Report for Point Load Project</h5>

<div mat-dialog-content class="mat-typography">

    <form class="m-4" [formGroup]="eval_form" (ngSubmit)="Execute()">
        <div class="container-fluid">
            
            <!-- <div class="row"> -->

                <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>Project Details</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class="row">
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="eval_title" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Applicant</mat-label>
                        <input matInput formControlName="eval_applicant" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                </div>
                <div class="row">
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>DT</mat-label>
                        <input matInput formControlName="eval_dt" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>voltage Level</mat-label>
                        <mat-select formControlName="eval_voltage_level" required>
                         
                            <mat-option [value]="'elevenkv'">
                                11KV
                            </mat-option>
                            <mat-option [value]="'thirtythreekv'">
                                33KV
                            </mat-option>   
                            <mat-option [value]="'fourhundred'">
                                0.400KV
                            </mat-option>  
                        </mat-select>
                        <!-- <mat-error *ngIf="proForm.get('status').hasError('required')">
                            Status is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
              
                </div>




                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>Finding From the Site Visit</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Estimated Load(A)</mat-label>
                        <input matInput formControlName="eval_estimated_load" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <!-- <mat-label>Date of site Visit</mat-label>
                        <input matInput formControlName="eval_site_visit_date" >
                        <mat-icon matSuffix>face</mat-icon> -->
                        <mat-label>Date of Site Visit</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="eval_site_visit_date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        
                    </mat-form-field>
                    
                </div>
                <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>For Upgrade, Specify New Load</mat-label>
                        <input matInput formControlName="eval_new4upgrade" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Construction Work Done</mat-label>
                        <mat-select formControlName="eval_conworkdone">
                          <mat-option value="Yes">Yes</mat-option>
                          <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Proposed DT Substation Name</mat-label>
                        <input matInput formControlName="eval_dtsubname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <!-- <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Region</mat-label>
                        <input matInput formControlName="eval_region" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Business Hub</mat-label>
                        <input matInput formControlName="eval_bhub" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div> -->
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Comment on Construction Done</mat-label>
                        <input matInput formControlName="eval_comentoncon" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                </div>




                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>RECOMMENDED FEEDER/ASSETS FOR CONNECTION</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                


                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder Name</mat-label>
                        <input matInput formControlName="eval_fdrname" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder peak Load(MW)</mat-label>
                        <input matInput formControlName="eval_fdrpload" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Feeder Capacity(MW)</mat-label>
                        <input matInput formControlName="eval_fdrcapacity" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Load Till Date(MW)</mat-label>
                        <input matInput formControlName="eval_tilldate" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Cummulative Load(A)</mat-label>
                        <input matInput formControlName="eval_cumloada" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
               
                </div>

                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>DETAIL OF SOURCE SUBSTATION(INJECTION/SS)</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Source To the Feeder</mat-label>
                        <input matInput formControlName="eval_srcfeeder" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Power Transformer</mat-label>
                        <input matInput formControlName="eval_ptrsf" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Transformer Rating(MVA)</mat-label>
                        <input matInput formControlName="eval_trsfrating" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Trend Peak(MW)</mat-label>
                        <input matInput formControlName="eval_trendpeak" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Cummulative Till Date(MW)</mat-label>
                        <input matInput formControlName="eval_cumtilldate" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                
                <div class=" col-6">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Permissible Load(MW)</mat-label>
                        <input matInput formControlName="eval_permload" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Margin Available(MW)</mat-label>
                        <input matInput formControlName="eval_maravail" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                
               
                </div>
                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>APPROVAL</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>To be fully Sponsored</mat-label>
                        <input matInput formControlName="eval_fulspons" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Estimated Project Cost(#)</mat-label>
                        <input matInput formControlName="eval_estpcost" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Specific Comment</mat-label>
                        <input matInput formControlName="eval_specoment" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
   
                </div>
                <div class="row">
                    <col-12>
                    <hr>
                </col-12>
                <col-12 class="text-center">
                    <h4>DETAIL PROJECT REPORT(NPG NO)</h4>
                </col-12>
                <col-12>
                <hr>
                </col-12>
               
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Preamble</mat-label>
                        <input matInput formControlName="eval_preamble" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Findings</mat-label>
                        <input matInput formControlName="eval_findings" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>

                
                <div class=" col-6">
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Scope of Work</mat-label>
                        <input matInput formControlName="eval_scopework" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                <div class=" col-6">
                    
    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Recommendation</mat-label>
                        <input matInput formControlName="eval_recom" >
                        <mat-icon matSuffix>face</mat-icon>
                        
                    </mat-form-field>
                </div>
                 <div class=" col-6">
    
                        <mat-form-field>
                            <mat-label>Summary Report Sheet</mat-label>
                            <ngx-mat-file-input formControlName="eval_pcm">
                               <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                            </ngx-mat-file-input>
                         </mat-form-field>
                         <a [href]="evalconnection?.eval_pcm" target="_blank">View Summary Report Sheet</a>
                   </div> 
                   <div class=" col-6">
    
                    <mat-form-field>
                        <mat-label>Single Line Diagram</mat-label>
                        <ngx-mat-file-input formControlName="eval_sglinediagram">
                           <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                        </ngx-mat-file-input>
                     </mat-form-field>
                     <a [href]="evalconnection?.eval_sglinediagram" target="_blank">View Single line Diagram</a>
                    </div> 
                   <div class=" col-6">
    
                    <mat-form-field>
                        <mat-label>Other Relevant Documents</mat-label>
                        <ngx-mat-file-input formControlName="eval_otherdoc">
                           <mat-icon ngxMatFileInputIcon>backup</mat-icon>
                        </ngx-mat-file-input>
                     </mat-form-field>
                     <a [href]="evalconnection?.eval_otherdoc" target="_blank">View Other Document</a>
                    </div> 

                </div>
        </div>
       
    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit"
                [mat-dialog-close]="1">Submit Evaluation</button>
        </div>
    </div>
</div>
</form>
</div>