<div  class="mat-typography">
<form class="m-4" [formGroup]="portform" (ngSubmit)="submitlog()">
    <div class="container-fluid">
    
        <div class=" col-6">

            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>username</mat-label>
                <input matInput formControlName="username" required>
                <mat-icon matSuffix>face</mat-icon>
                <!-- <mat-error *ngIf="portform.get('name').hasError('required')">
                    Name is required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>
    <div class="container-fluid">
    
        <div class=" col-6">

            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>password</mat-label>
                <input matInput formControlName="password"required>
                <mat-icon matSuffix>face</mat-icon>
                <!-- <mat-error *ngIf="portform.get('name').hasError('required')">
                    Name is required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit"
               (click)="confirmAdd()" >Save</button>
                &nbsp; &nbsp; &nbsp;
            <!-- <button mat-raised-button color="warn" tabindex="-1">Cancel</button> -->
        </div>
    </div>
</form>
           
</div>          
    
